@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #1f2023;
  background-repeat: no-repeat;
  background-position: 50%;
  border-left: 1px solid #4c4d4f;
  border-right: 1px solid #4c4d4f;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
